body {
	margin: 0;
}

nav ul {
	list-style-type: none;
	background: #ee;
	overflow: hidden;
	margin: 0;
	padding: 0;

}

nav ul li {
	color: #333;
	float: left;
}

iframe {
	width: 320px;
	height: 500px;
}